
<% flash.each do |flash_type, message| %>
	<% if flash_type == "alert" %>
		<div class="flash__message bg-danger text-center " data-controller ='removals', data-action="animationend->removals#remove" >
			<h6 class = "text-center mb-0"><%= message %></h6>
		</div>
	<% else %>
		<div class="flash__message bg-success text-center" data-controller ='removals', data-action="animationend->removals#remove" >
			<h6 class = "text-center mb-0"><%= message %></h6>
		</div>
	<% end %> 
<% end %> 
