<p>Welcome <span><%= @resource.name %>:</span> <%= @resource.email %>!</p>
<p>You can confirm your account email through the link below:</p>
<p><%= link_to "Confirm my account", verify_url(confirmation_token: @token) %></p>
<p>Your OTP : <%= @otp %> </p>
